<h1>Student Capstones</h1>

<p> Capstone Name: <%= @user['capstone_name'] %> </p>
<p> Short Description: <%= @user['short_description'] %> </p>
<p> Website: <%= @user['website_url'] %> </p>
<p> Github Account: <%= @user['github_url'] %> </p>

<%= link_to "Edit Capstone Project", "/capstones/#{@user.id}", class: "btn btn-success" %>

<%= link_to "Logout", "/logout", class: "btn btn-success" %>