<h1>Update your info!</h1>
<%= form_tag "http://localhost:3000/api/students/#{id}", :method => :patch do %>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number %>
  <%= label_tag :short_bio %>
  <%= text_field_tag :short_bio %>
  <%= label_tag :linkedin_url %>
  <%= text_field_tag :linkedin_url %>
  <%= label_tag :twitter_handle %>
  <%= text_field_tag :twitter_handle %>
  <%= label_tag :website_url %>
  <%= text_field_tag :website_url %>
  <%= label_tag :online_resume_url %>
  <%= text_field_tag :online_resume_url %>
  <%= label_tag :github_url %>
  <%= text_field_tag :github_url %>
  <%= label_tag :photo %>
  <%= text_field_tag :photo %>

  <%= submit_tag "Submit Update" %>
<% end %>
